<style>

  @media(max-width: 399px) {

    #sec p
    {
      position: relative;
      left: 25%;
      bottom: 72px;
      font-size: 16px !important;
      /*border: 1px solid red;*/
      width: 150px;
      margin-bottom:-10px !important;
    }

    #sec img{
      width: 70px !important;
      height: 70px !important;
      /*margin-left:;*/
    }

  }

  @media (min-width: 400px) {

    #sec
    {
      position: relative;
      /*border: 1px solid orange;*/
    }

    #sec div{
      /*border: 1px solid red !important;*/
      width: inherit !important;
      position: absolute !important;
      left: 20%!important;
      top: 0px;
      padding-top: 0px;
    }

    @media(min-width: 600px)
    {
      .icon{
        font-size: 95px !important;
        font-weight: normal !important;
        position: absolute !important;
        top: -4px !important;
      }
    }


    #sec div p
    {
      color: #566573;
      font-size: 18px;
      margin: 0 0 10px 0 !important;
      font-family: "Neue Helvetica";
      clear: both;
      /*position: relative !important;
      left: 2% !important;
      border: 1px solid red !important;*/
    }

    p{font-size: 16px}

  }

  #sec img{
    width: 50px !important;
    height: 50px !important;
    margin-left: 5%;
  }
  .back
  {
    background-color:#FBFCFC;
  }


  section
  {
    height: 80px!important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
    padding-bottom: 15px !important;
  }


  p
  {
    font-family: "Segoe UI", "Noto Sans", sans-serif !important;
    color: #424242 /*#566573*/;
  }

  .button
  {
    /*margin-top: 15px !important;*/
    /*background-color: #A93226 !important;*/
    border-radius: 5px;
    width: 110px;
    text-align: center;
  }

  .button:first-child
  {
    margin-left: 13%;
  }
  .divb
  {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    /*border: 1px solid red !important;*/
    padding-left: 5px !important;
  }

  .padd{padding-left: 5%; padding-right: 5%;}

  #logout
  {
    position: absolute !important;
    bottom: 10px !important;
    left: 70% !important;
    /*border: 1px solid red !important;*/
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: #fff;
    background-color: #A93226;
    border: none !important;
    font-weight: bold;
  }

  #info{
    border: 1px solid #424242;
    border-radius: 5px;
  }

  #info p{
    width: 150px;
    /*margin: auto;*/
    text-align: left;
  }

  .p{
    font-size: 14px !important;
    margin: 0px;
  }
  .cabecalho{border-bottom: 1px solid #424242;}
  .cabecalho p
  {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
  }

  .pag{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: darkred;
  }

  .pag:first-child{margin-left: 40%;}


</style>
<ion-header style="position: relative">

  <ion-navbar>

    <ion-title>Seus dados</ion-title>
    <button ion-button  outline id="logout" (click)="logout()">Sair</button>
  </ion-navbar>

</ion-header>


<ion-content padding class="back padd">

    <!--<section id="sec">
      <img src="assets/imgs/marie-curie.jpeg" class="perfil">
      <div>
        <p>Marie Curie</p>
        <p>Química</p>
        <p>20015008899</p>
      </div>
    </section>-->

  <!--<section >
    <ion-list id="info">
      <ion-list-header class="cabecalho">
        <p>NO QUEUE</p>
        <ion-icon ios="ios-card" md="md-card" item-right (click)="pageDeposita()"></ion-icon>
        <ion-icon ios="ios-calendar" md="md-calendar"  item-right (click)="pageCalendario()"></ion-icon>
      </ion-list-header>
      <ion-item class="p back">HORA: 12:00</ion-item>
      <ion-item class="p back">Fila: 200 pessoas</ion-item>
      <ion-item class="p back">Fluxo: 4 pessoas/min</ion-item>
      <ion-item class="p back" id="senha">Senha: </ion-item>
      <ion-item class="p back">Tempo: 12 min para sua chamada</ion-item>

    </ion-list>
    <div class="divb">
      <button ion-button (click)="fl.adic(201500)">GERAR SENHA</button>
      <button ion-button (click)="cancelaSenha()">CANCELAR</button>
    </div>

  </section>

  <ion-list style="position: relative; top: 190px;">
    <ion-list-header>
      Notes
    </ion-list-header>
    <ion-item *ngFor="let note of noteList | async"
              detail-push navPush="EditNotePage" [navParams]="{note:note}">
      <p style="color: black">Nota: {{note.url}}</p>
    </ion-item> </ion-list>-->


  <!--<style>
    #subheader{
      width: 100%;
      margin: -10%;
      height: 60px;
      background-color: darkred;
      color: #fff;
      display: block;
      clear: both;
    }
  </style>
  <div id="subheader" class="bar bar-header">
    <h2 class="title">No Queue</h2>
  </div>-->

  <ion-card style="position: relative">
    <ion-card-header style="text-align: center !important;">
      NO QUEUE
    </ion-card-header>
    <ion-card-content>
      <div style="position: relative; left: 80% !important;">
        <!--<ion-icon ios="ios-card" md="md-card" item-right (click)="pageDeposita()" style="font-size: 30px; color: #A93226;"></ion-icon>
        <ion-icon ios="ios-calendar" md="md-calendar"  item-right (click)="pageCalendario()" style="font-size: 30px; color: #A93226;"></ion-icon>-->
      </div>

      <p>Hora: {{hora}}</p><hr>
      <p>Fila: {{qtdFila()}} pessoas</p><hr>
      <p>Fluxo: {{fluxoFila()}} pessoas/min</p><hr>
      <p id="senha">Senha: {{aluno.senha_fila}}</p><hr>
      <p>Tempo: {{showMedia()}} min para sua chamada</p>

      <div id="pages">
        <button ion-button class="pag" (click)="pageCalendario()">
          <ion-icon name="restaurant"></ion-icon>
        </button>
        <button ion-button class="pag" (click)="pageDeposita()">
          <ion-icon name="card"></ion-icon>
        </button>
      </div>

      <div>
        <button ion-button (click)="addSenha()" style="background-color: seagreen ">GERAR SENHA</button>
        <button ion-button (click)="cancelaSenha()" style="background-color: #A93226">CANCELAR</button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
