<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

      <section id="sec">
        <img src="assets/imgs/marie-curie.jpeg" class="perfil">
        <div>
          <p style="font-family: 'Roboto';">Marie Curie</p>
          <p style="font-family: 'Roboto'; font-size: 15px; color: lightslategray">Matrícula: 20015008899</p>
          <hr>
            <button ion-button full clear (click)="pageIndex()">
              <ion-icon name="home" style="position: relative; left: -35%; font-size: 20px; color: #000"></ion-icon>
              <p style="position: relative; left: -35%; color: #000; font-family: 'Roboto'">INÍCIO</p>
            </button>
          <hr>
          <button ion-button full clear (click)="pageCalendario()">
              <ion-icon name="restaurant" style="position: relative; left: -30%; font-size: 20px; color: #000"></ion-icon>
              <p style="position: relative; left: -30%; color: #000; font-family: 'Roboto'">ALMOÇO</p>
          </button>
          <hr>
          <button ion-button full clear (click)="pageDeposita()">
            <ion-icon name="card" style="position: relative; left: -30%; font-size: 20px; color: #000"></ion-icon>
            <p style="position: relative; left: -30%; color: #000; font-family: 'Roboto'">CRÉDITO</p>
          </button>
          <hr>
        </div>
      </section>


    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
