#sec img
{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 8%;
  margin-left: 6%;
}

#sec p
{
  margin-left: 6%;
  font-size: 20px;
}

#sec button
{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left !important;
}

*{
  font-family: 'Roboto';
}
